header, .post {
  border-bottom: 2px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.border {
  border: solid #1b89bc;
  border-radius: .75em;
  box-shadow: 0px 0px 5px 5px black;
  padding: .25em;
}

.side-note {
  font-size: small;
}

.comment:nth-child(even) {
  background-color: rgb(156, 196, 206);
  padding: .1em;
  border-radius: .25em;

}

.comment:nth-child(odd) {
  padding: .1em;
  border-radius: .25em;
  border: thin solid rgb(156, 196, 206);

}